// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang
#order-status-submit-btn{
  display: none;
}
.cur-poiter{
  cursor: pointer;
  label{
    cursor: pointer;
  }
}

.total_table{
  position: sticky;
  bottom: 0;
}

.status-radio{
  opacity: 0;
}
.status-label{
  border: 1px solid black;
  padding: 10px;
}
.tool-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  div {
    text-align: right;
  }
}
.search-products-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 12px;

  input{
    font-size: 18px;
  }
}
.active-label{
  background: #eb3d32;
  color: white;
  border-color: #eb3d32;
}
.infor-label{
      font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}
.dp-none{
  display: none;
}
