// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-card{
  margin-top: 37px;

  .btn-over {
    display: block;
    text-align: center;
    background-color: #337ab7;
    
  }
}
