// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.height-200{
  height: 200px !important;
}
.cb{
  select{
        padding: 7px;
  }
}
.del-edit-btn-wrap{
  text-align: right;
}
.prop {
  margin: 10px 0;

  label{
    font-size: 20px;
  }

}
.size-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  div{
    display: grid;
    grid-template-columns: auto auto;
  }
  label{
    font-size: 20px;
    text-align: right;
    line-height: 45px;
    margin-right: 7px;
  }
}
.cat-brand{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-card{
  margin-top: 37px;

  .btn-over {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #337ab7;
    
  }
}
.choose-size-pp {
  padding: 6px;
  font-size: 17px;
  text-transform: uppercase;
}
.add-cart-wrapper {
  height: 100vh;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 10;

    .add-cart-form-crd{

          background: white;
        width: 30%;
        margin: 5% auto;
        font-size: 18px;
        border-radius: 10px;
        padding: 47px;

        .it{
    margin-top: 15px;

    select{
      padding: 5px;
    }
        }

        .it-last{
              text-align: center;
        }
        .btn-gray{
              background: gray;
    color: white;
    padding: 7px;
        }
    }
}
